{% extends 'base.html' %}

{% block title %}Hello! {{ user | capfirst }}{% endblock %}

{% block content %}
<div>
	{% if user.is_authenticated %}
		{% for message in messages %}
			<h3>{{ user | capfirst }}, {{ message }}</h3>
		{% endfor %}
	{% else %}
		<p>You are not logged in</p>
		<a href="{% url 'login' %}">Log In</a>
	{% endif %}
</div>
<div class="container w-50 h-50">
	<div class="row">
	  <div class="col-md-8">
		{% for post in posts %}
		<div class="card my-5">
		  <div class="card-body">
			<a class="text-dark" href="#"><b>{{ post.user_name | capfirst }}</b></a>
			{% if post.user_name == user %}
				<a class="btn btn-outline-info float-right btn-lg ml-3" href="{% url 'post-update' post.id %}">Update</a>
				<a class="btn btn-outline-danger float-right btn-lg" href="{% url 'post-delete' post.id %}">Delete</a>
			{% endif %}
			<br><small class="text-muted">Posted on {{ post.date_posted }}</small>
			<br><br>
			<p class="card-text text-dark">{{ post.description }}</p>
		  </div>
		  <a href="{% url 'detail' post.id %}"><img class="card-img-top" src="/static{{ post.picture.url }}" alt=""></a>
<!--		  {% if post.tags %}-->
<!--		  <br>-->
<!--		  <p class="text-danger ml-3"><b>Tags: <i>{{ post.tags }}</i></b></p>-->
<!--		  {% endif %}-->
		</div>
		{% endfor %}
	   </div>
	</div>
</div>
{% endblock %}