{% extends 'base.html' %}
{% load static %}
{% block title %}Hello! {{ user | capfirst }}{% endblock %}
{% block extra_css %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="screen">
{% endblock extra_css %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-11 col-md-11 col-lg-5">
            {% for post in posts %}
            <div class="card card-signin my-5">
                <div class="card-body">
                    <a class="text-dark" href="#"><b>{{ post.user_name | capfirst }}</b></a>
                    {% if post.user_name == user %}
                    <a class="btn btn-outline-info ms-2 float-end" href="{% url 'post-update' post.id %}">Update</a>
                    <a class="btn btn-outline-danger float-end" href="{% url 'post-delete' post.id %}">Delete</a>
                    {% endif %}
                    <br><small class="text-muted">Posted on {{ post.date_posted }}</small>
                    <br><br>
                    <p class="card-text text-dark">{{ post.description }}</p>
                </div>
                <a href="{% url 'detail' post.id %}"><img class="card-img-top" src="{{ post.picture.url }}" alt=""></a>
                {% comment %}
                {% if post.tags %}
                <br>
                <p class="text-danger ml-3"><b>Tags: <i>{{ post.tags }}</i></b></p>
                {% endif %}
                {% endcomment %}
                <div class="card-footer">
                    {% include "registration/post/like.html" %}
                    {% include "registration/post/comment.html" %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="text-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&laquo; </a>
                {% endif %}

                <span class="current">
                    {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"> &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>

{% endblock content%}
{% block extra_js %}
<script type="text/javascript" src='{% static "js/ajax.js" %}'></script>
{% endblock extra_js %}