{% extends 'post/home.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Login {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body mx-3">
                    <h5 class="card-title text-center"><b>Log In Here</b></h5>
                    <form class="form-signin" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group"><br />
                            {{ form | crispy }}
                        </fieldset>
                        <br />
                        <div class="form-group page-button">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log In
                            </button>
                            <a class="btn btn-outline-dark" href="/users/googleauth" role="button" style="text-transform:none">
                                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                Login with Google
                            </a>
                            <a href="#" class="col-lg-4 py-2 btn btn-primary facebook"> <span>Login with Facebook</span> <i class="fa fa-facebook"></i> </a>
                            <a class="btn btn-lg btn-warning btn-block text-uppercase float-end" href="{% url 'password_reset' %}">Forgot Password?
                            </a>
                        </div>
                        <br /><br />
                        <small>
                            <p class="text-center">
                                Not registered yet?
                                <a href="{% url 'signup' %}"><u><b>Register Now!</b></u></a>
                            </p>
                        </small>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}