local_settings.py
local.py
*/media/
**/migrations/
*/staticfiles/
**/images/
*.pyc

# Editor environment
mysite.sublime-project
mysite.sublime-workspace

# Environments
.env
.venv
env/
venv/
ENV/
.idea/

# Credentials
settings.ini
firesbase-credentials.json
