# Main
Django>=3.2.6
psycopg2-binary
djangorestframework>=3.12.4
python-decouple

# Websockets
channels
channels_redis

# Deployment
gunicorn

# S3 Bucket
django-storages
boto3

# Others
drf-yasg
django-cleanup
django-crispy-forms
Pillow
