{% extends 'base.html' %}
{% load static %}

{% block title %}Hello! {{ user | capfirst }}{% endblock %}

{% block content %}

<div class="container w-50 h-50">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
            <div class="card my-5">
                <div class="card-body">
                    <a class="text-dark" href="#"><b>{{ post.user_name | capfirst }}</b></a>
                    {% if post.user_name == user %}
                    <a class="btn btn-outline-info float-right" href="{% url 'post-update' post.id %}">Update</a>
                    <a class="btn btn-outline-danger float-right" href="{% url 'post-delete' post.id %}">Delete</a>
                    {% endif %}
                    <br><small class="text-muted">Posted on {{ post.date_posted }}</small>
                    <br><br>
                    <p class="card-text text-dark">{{ post.description }}</p>
                </div>
                <a href="{% url 'detail' post.id %}"><img class="card-img-top" src="/static{{ post.picture.url }}" alt=""></a>
                {% comment %}
                {% if post.tags %}
                <br>
                <p class="text-danger ml-3"><b>Tags: <i>{{ post.tags }}</i></b></p>
                {% endif %}
                {% endcomment %}
                <div class="card-footer">
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        {% if post in liked %}
                            <button class="btn-lg btn-like" style="background-color: transparent; border: none; box-shadow: none;" type="submit" id="likebtn{{ post.id }}" data-url="{% url 'like' post.pk %}">
                                <i class="fas fa-2x fa-thumbs-up" style="color:royalblue;"></i> <span>{{ post.likes.all.count }}</span>
                            </button>
                        {% else %}
                            <button class="btn-lg btn-like" style="background-color: transparent; border: none; box-shadow: none;" type="submit" id="likebtn{{ post.id }}" data-url="{% url 'like' post.pk %}">
                                <i class="fas fa-2x fa-thumbs-up"></i> <span>{{ post.likes.all.count }}</span>
                            </button>
                        {% endif %}
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content%}

{% block extra_js %}
<script type="text/javascript" src='{% static "js/ajax.js" %}'></script>
{% endblock extra_js %}
