{% extends 'base.html' %}
{% load static %}

{% block title %}Hello! {{ user | capfirst }}{% endblock %}

{% block content %}

<div class="container w-50 h-50">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
            <div class="card my-5">
                <div class="card-body">
                    <a class="text-dark" href="#"><b>{{ post.user_name | capfirst }}</b></a>
                    {% if post.user_name == user %}
                    <a class="btn btn-outline-info float-right" href="{% url 'post-update' post.id %}">Update</a>
                    <a class="btn btn-outline-danger float-right" href="{% url 'post-delete' post.id %}">Delete</a>
                    {% endif %}
                    <br><small class="text-muted">Posted on {{ post.date_posted }}</small>
                    <br><br>
                    <p class="card-text text-dark">{{ post.description }}</p>
                </div>
                <a href="{% url 'detail' post.id %}"><img class="card-img-top" src="/static{{ post.picture.url }}" alt=""></a>
                {% comment %}
                <!--{% if post.tags %}-->
                <!--<br>-->
                <!--<p class="text-danger ml-3"><b>Tags: <i>{{ post.tags }}</i></b></p>-->
                <!--{% endif %}-->
                {% endcomment %}
                <div class="card-footer" id="likebtn">
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}

                        <!--lands to same page as next used here--> 
                        {% comment %}<input type="hidden" name="next" value="{{ request.path }}">{% endcomment %}
                        
                        <button class="btn-lg btn-like" style="background-color: transparent; border: none; box-shadow: none;" type="submit" data-sid="{{ post.id }}" data-url="{% url 'like' post.pk %}">
                            <i class="far fa-thumbs-up"></i> <span>{{ post.likes.all.count }}</span>
                        </button>
                    </form>
                        {% comment %}<input type="button"
                                   data-sid="{{ post.id }}"
                                   class="btn btn-info btn-sm btn-like"
                                   value="Like | {{ post.likes.all.count }}"/>{% endcomment %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content%}

{% block extra_js %}
<script type="text/javascript" src='{% static "js/ajax.js" %}'></script>
{% endblock extra_js %}

{% comment %}{% block extra_js %}
<script src="{% static 'js/ajax.js'%}"></script>
{% endblock extra_js %}{% endcomment %}
