{% extends 'mysite/base.html' %}

{% block title %}Detail | {{ post.description }}{% endblock %}
{% block style %}
	img {
	  width: 40%;
	  height: 40%;
	}
{% endblock %}
{% block content %}
	<div>
		<b>{{ post.user_name }}</b>
		<br><small>Posted on {{ post.date_posted }}</small>
		<p>{{ post.description }}</p>
	</div>
	<img src="{{ post.picture.url }}">
	{% if post.tags %}
	<br>
	<p><b>Tags: <i>{{ post.tags }}</i></b></p>
	{% endif %}
	{% if post.user_name == user %}
		<a href="{% url 'delete' post.id %}">Delete</a>
		<a href="{% url 'post-update' post.id %}">Update</a>
	{% endif %}
{% endblock %}