{% extends 'mysite/base.html' %}

{% block title %}Detail | {{ post.description }}{% endblock %}
{% block style %}
	img {
	  width: 40%;
	  height: 40%;
	}
{% endblock %}
{% block content %}
	<div class="container">
	    <div class="row">
	      <div class="col-md-8">
	        <div class="card card-signin my-5">
	          <div class="card-body">
	          	<a class="text-dark" href="{{ post.user_name.profile.get_absolute_url }}"><b>{{ post.user_name | capfirst}}</b></a>
	          	<br><small class="text-muted">Posted on {{ post.date_posted }}</small>
	          	<br><br>
	            <p class="card-text text-dark">{{ post.description }}</p>
	          </div>
	          <a href="/static/{{ post.picture.url }}"><img class="card-img-top" src="/static/{{ post.picture.url }}" alt=""></a>
	          {% if post.tags %}
	          <br><p class="text-danger ml-3"><b>Tags: <i>{{ post.tags }}</i></b></p>
	          {% endif %}
	          <div class="card-footer">
	          	{% if post.user_name == user %}
				<a class="btn btn-outline-info mr-3" href="{% url 'post-update' post.id %}">Update</a>
				<a class="btn btn-outline-danger" href="{% url 'post-delete' post.id %}">Delete</a>
				{% endif %}
	          </div>
	        </div>
	  	   </div>
	    </div>
	</div>
{% endblock content %}
{% block extra_js %}
<script>
	$(".like").click(function (e) {
    var id = this.id;
    var href = $('.like').find('a').attr('href');
    e.preventDefault();

    $.ajax({
        url: href,
        data: {
          'likeId': id
        },
        success: function(response){
          if(response.liked){
            $('#likebtn' + id).html("Unlike | {{post.likes.count}}");
            $('#likebtn' + id).css("color", "red")
          }
          else{
            $('#likebtn' + id).html("Like | {{post.likes.count}}");
            $('#likebtn' + id).css("color", "green")
          }
        }
      })
});
</script>
{% endblock extra_js %}
{% comment %}
	<div>
		<h5><b>{{ post.user_name | capfirst }}</b></h5>
		<small>Posted on {{ post.date_posted }}</small>
		<p>{{ post.description }}</p>
		{% if post.user_name == user %}
			<a href="{% url 'delete' post.id %}">Delete</a>&nbsp;&nbsp;
			<a href="{% url 'post-update' post.id %}">Update</a>
		{% endif %}
	</div>
	<img src="/static/{{ post.picture.url }}">
	{% if post.tags %}
	<br>
	<p><b>Tags: <i>{{ post.tags }}</i></b></p>
	{% endif %}
{% endcomment %}