<header class="header bg-black">

    <div class="grid">

        <div class="logo">
            <a href="{% url 'home' %}">Fireshinee</a>
        </div>

        <input type="checkbox" class="navigationCheckbox" id="navi">
        <label for="navi" class="navigationBtn">
            <span class="navigationIcon"></span>
        </label>


        <nav class="menu bg-black">
            <div class="menu-item">
                {% if user.is_authenticated %}
                <a href="{% url 'home' %}" class="liens">Home</a>
                <!--            <a class="fa fa-pencil create-post-model-popup" data-toggle="modal" id="createpostlink"-->
                <!--                data-url="#" data-target="#createpost" title="create_new_post"-->
                <!--                data-tooltip>Create Post</a>-->
                <a href="{% url 'create-post' %}" class="liens">Create Post</a>
                <a href="{% url 'chat' %}" class="liens">Chat</a>
                <a href="{% url 'profile' %}" class="liens">My Profile</a>
                <a class="liens" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                <a class="liens" href="{% url 'login' %}">Log In</a>
                <a class="liens" href="{% url 'signup' %}">Sign Up</a>
                {% endif %}

            </div>

        </nav>

        <!--        <div class="langueEN">-->
        <!--            <a href="#">-->
        <!--                <p class="english" >English</p>-->
        <!--            </a>-->
        <!--        </div>-->


    </div>

</header>
