.navigationBtn{
  margin-top: 1rem !important;
}

footer p {
  display: inline;
  font-weight: bold;
}

footer p a {
  font-size: 1em;
  float: right;
  color: blue;
  text-decoration: underline;
}

footer p a:hover {
    color: blue;
}

.menu-item {
    line-height: 1;
}

.card-body {
    font-size: 1.5rem;
}

.form-control {
    font-size: 1.5rem;
}

.alert-success {
  font-weight: bold;
  font-size: 1.5rem;
}

span.step-links {
    font-size: 1.8rem;
}

@media screen and (max-width:619px) 
{
  footer p {
    display: grid;
    text-align: center;
  }

  .card-body {
    font-size: 2em;
  }

  .text-muted {
    font-size: 1.5vh;
  }

  .form-control {
    line-height: 2;
  }

  .page-button {
    display: grid;
  }

  button.btn.btn-lg.btn-primary.btn-block.text-uppercase {
    margin-bottom: 15px;
    font-size: 2rem;
  }
  .form-control {
    font-size: 2rem;
  }
}

.fb {
  background-color: #3B5998;
  color: white;
}
/*  width: 33%;
  padding: 6px;
  border: none;
  border-radius: 4px;
  opacity: 0.85;
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors 
}*/*/
/*.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors 
}*/*/
