{% extends 'registration/home.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Create Post{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>Create Your Post</b></h5>
                    <form class="form-signin" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group"><br>
                            {{ form | crispy }}
                        </fieldset>
                        <div class="form-group page-button">
                            <br /><button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{{ value }}
                            </button>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
