{% extends 'mysite/base.html' %}

{% block title %}Hello! {{ user | capfirst }}{% endblock %}

{% block style %}
	img {
	  width: 35%;
	  height: 25%;
	}
{% endblock %}
{% block content %}
<div>
	<div>
		{% if user.is_authenticated %}
			{% for message in messages %}
        		<h3>{{ user | capfirst }}, {{ message }}</h3>
    		{% endfor %}
		{% else %}
			<p>You are not logged in</p>
			<a href="{% url 'login' %}">Log In</a>
		{% endif %}
	</div>
	{% for post in posts %}
	<div>
		<div>
			<h5><b>{{ post.user_name | capfirst }}</b></h5>
			<small>Posted on {{ post.date_posted }}</small>
			<p>{{ post.description }}</p>
		</div>
		<a href="{% url 'detail' post.id %}"><img src="{{ post.picture.url }}"></a>
		{% if post.tags %}
		<br>
		<p><b>Tags: <i>{{ post.tags }}</i></b></p>
		{% endif %}
	</div>
	<hr>
	{% endfor %}
</div>
{% endblock %}