<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
	
	<h1> Sign Up Here </h1>
	
	<form action="" method="post">
		<table>
		{% csrf_token %}

			{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
					<p style="color:red">{{ error }}</p>
				{% endfor %}
			{% endif %}

		{% for field in form %}
		<tr>
			<td>{{ field.label_tag }}</td> <td> {{field}} </td> <td style="color:red"> {{ field.errors|striptags }}</td>
		</tr>
		{% endfor %}	
		</table>
		<br>	
		<input type="submit" value="Sign Up">
	</form>
	<a href="{% url 'login' %}">Log In</a>

</body>
</html>